html,
body {
  margin: 0;
  padding: 0;
}

.section-container {
  word-wrap: break-word;
  .markdown-body .highlight pre,
  .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--code-bg-color);
    border-radius: 6px;
  }
}
